body {
    font-family: 'Kurale', serif;
    background: url('../../resources/img/main.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.menu__item {
    margin: 0 20px;
    padding-top: 35px;
    font-size: 22px;
    color: white;
}

.menu__item a {
    color: white;
}

form {
    display: block;
}

.header a {
    color: white;

}

.header li {
    margin: 0 14px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 18px;
}

.content {
    padding-top: 200px;
    text-align: center;
    font-size: 22px;
    color: white;

}

.bg-black {
    background-color: black !important;
}

.text-black {
    color: black;
}

caption {
    text-align: right;
}

.features {
    font-size: 32px;
}

img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 150px;
    height: 120px;
}

.error {
    margin-top: 200px;
    color: black;
}